
DATABASE_URL="get your url from supabase"
DIRECT_URL="get your url from supabase"

JWT_SECRET="tokomusikdigital"
JWT_EXPIRES_IN="1d"
NEXT_PUBLIC_MUSIC_NFT_CONTRACT_ADDRESS="your nft contract address"
NEXT_PUBLIC_NFT_MARKETPLACE_CONTRACT_ADDRESS="your marketplace contract address"
NEXT_PUBLIC_NFT_STREAMING_CONTRACT_ADDRESS="your streaming contract address"
NEXT_PUBLIC_SUBGRAPH_URL="your subgraph url"

# .env.local
PINATA_JWT="your pinata jwt"
NEXT_PUBLIC_GATEWAY_URL="your pinata gateway url"